// =============================================================================
// Button
// =============================================================================
 
// Use flags
// =============================================================================
use-button-style = 'flat';

// Mixins
// =============================================================================
button(){
    button-flat();
}