
@import 'components/chameleonui-utils/stylus/body-em.styl';
@import 'components/chameleonui-utils/stylus/body-line-height.styl';
@import 'components/chameleonui-utils/stylus/clearfix.styl';
@import 'components/chameleonui-utils/stylus/font-size.styl';
@import 'components/chameleonui-utils/stylus/gradients.styl';
@import 'components/chameleonui-utils/stylus/height.styl';
@import 'components/chameleonui-utils/stylus/margin.styl';
@import 'components/chameleonui-utils/stylus/padding.styl';
@import 'components/chameleonui-utils/stylus/percentage.styl';
@import 'components/chameleonui-utils/stylus/px-rem.styl';
@import 'components/chameleonui-utils/stylus/roundto.styl';
@import 'components/chameleonui-utils/stylus/selectorize.styl';
@import 'components/chameleonui-utils/stylus/string-repeat.styl';
@import 'components/chameleonui-utils/stylus/text-overflow.styl';
@import 'components/chameleonui-utils/stylus/vendors.styl';
@import 'components/chameleonui-utils/stylus/visibility.styl';
@import 'components/chameleonui-utils/stylus/width.styl';

@import 'components/chameleonui-css3/stylus/border-radius.styl';
@import 'components/chameleonui-css3/stylus/box-shadow.styl';
@import 'components/chameleonui-css3/stylus/opacity.styl';
@import 'components/chameleonui-css3/stylus/transition.styl';

@import 'stylus/button-flat';
@import 'stylus/button';

// push another button type to list
push(button-types-list, 'transparent');

// Add config variables with new type keyword
// -- Legendary button type
button-transparent-color = #fff;
button-transparent-bg-color = #14B694;
button-transparent-border-color = button-transparent-bg-color;

button-transparent-hover-bg-color = darken(button-transparent-bg-color, 25%);
button-transparent-hover-color = button-transparent-color;
button-transparent-hover-border-color = button-transparent-hover-bg-color;

button-transparent-active-bg-color = darken(button-transparent-bg-color, 50%);
button-transparent-active-color = button-transparent-color;
button-transparent-active-border-color = button-transparent-active-bg-color;

button();